# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Packer
packer_cache/
*.pkrvars.hcl
!*.pkrvars.hcl.example

# OS/editor
.DS_Store
.idea/
.vscode/
.junie/
